.sdnav {
  height: 100px;
}

.price {
    font-size: x-large;
    color: black;
    font-weight: bold;
    font-family: Serif;
}
.font1 {
    font-size: xx-large;
    color: green;
    font-weight: bold;
    font-family: Serif;
}
